/* Fonts */
@font-face{
    font-family: 'ComicNew';
    src: url("fonts/ComicNeue-Regular.ttf");
}
@font-face{
    font-family: 'Rancho';
    src: url("fonts/Rancho-Regular.ttf");
}

/* COLOR-FONT */
.new-font, .new-font:hover{
    font-family: 'ComicNew',Arial, Helvetica, sans-serif;
    color: #FFEABA;
    text-decoration: none;
}

/* CHOSEN */
.chosen{
    background-color: purple;
}

/* Body */
body {
    margin: 0;
    overflow-x: hidden;
    background-image: url("sources/images/background.png");
    background-size: 110%;
    background-attachment: fixed;
}

/* Head */
.head {
    position: sticky;
    top: 0px;
    background-color: #7B241C ;
    z-index: 1;
    height: 82px;
}

/* LOGO */
.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 80px;
}
.logo1{
    width:100px ;
}
.logo2 {
    position: relative;
    width:180px ;
    top: -25px;
}

/* CONTACT */
.contact-menu{
    padding: 0;
    position: absolute;
    left: 0%;
    margin-bottom: 0px;
    top: 30px;
}
.break1 {display: none;}
.break-t {display: none;}
.mail-logo, .call-logo{width:28px;}
.mail-ref, .call-ref{position: relative}
.contact-menu li {display: inline;padding: 5px 5px}
.mail-ref:hover{background-color: #D80202;}
.call-ref:hover{background-color: #D80202;}

/* SOCIAL */
.social-menu{
    padding: 0;
    position: absolute;
    right: 0%;
    margin-bottom: 0px;
    float: right;
    top: 23px;
}
.whatsapp, .spotify, .instagram, .twitter{width:40px ;}
.social-menu li {display: inline; padding: 5px 5px;}

/* MENU */
.menu{
    display: block;
    position: sticky;
    top: 80px;
    margin: 0 auto;
    width: 90%;
    background-color: #580C05;
    z-index: 1;
}
.menu-menu{
    margin: 0;
    display: block;
    text-align: center;
    height: 44px;
    position: relative;
    top: 9px;
}
.menu-menu li {
    display: inline; 
    vertical-align: middle; 
    padding: 9px 20px; 
    margin: 10px 0;
    font-size: 20px;
}
.menu-menu li:hover{background-color: #D80202;}
.menu-logo{
    display: none;
}

/* CENTRO */
.main{
    position: relative;
    margin: 0 auto;
    width: 90%;
    background-color: #ffffff;
}

/* BANNER-INIC */
.banner{
    width: 100%;
    margin-top: -68px;
    margin-bottom: -72px;
}
.botton-nav, .botton-nav2{
    width: 150px;
    margin: 0 auto;
}
.botton-nav{position: relative; top: 5px;} 
.botton-nav2{position: relative; top: -5px;}

/* FOOTER */
.buttom{
    border-top: 10px red;
    background-color: #7B241C;
    bottom: 0;
    width: 100%;
}
.address, .copyright{
    display: inline-block;
    padding: 15px 15px 15px 15px;
    color: #FFEABA;
}
.address{
    float: right;
}

/* INFO */
.title{
    font-family: 'ComicNew';
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 40px;
    margin: 0px;
}
.paragraph{
    font-family: 'ComicNew';
    color: rgb(114, 52, 8);
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-size: 25px;
    margin-bottom: 0px;
}
.whatsapp-static{
    position: fixed;
    top:180px;
    z-index: 3;
}
.whatsapp-logo-static{
    width: 25%;
}
.ws1{
    top:120px;
}
@media only screen and (max-width: 1030px) {
    /* For small desktop: */
    #menu-js{
        display: block;
    }
    .break1{
        display: inline;
    }
    .contact-menu{
        top: -7px;
    }
    .menu-menu li {
        font-size: 20px;
    }
    .botton-nav2{display: none;}
    .info1{margin-top: 60px;}
}
@media only screen and (min-width: 900px) {
    /* For small desktop: */
    #menu-js{
        display: block;
    }
}
@media only screen and (max-width: 770px){
/* and (min-device-aspect-ratio: 16/9)  */
    For tablets:
    .break-t{
        display: inline;
    }
    .menu-menu{
        height: 100px;
    }
    .whatsapp-static{
        top:80%;
    }
    .whatsapp-logo-static{
        width: 45%;
    }
    .contact{
        display: none;
    }
    .logo{    
        position: absolute;
        left: 0%;
    }
    .head{
        margin-bottom: -40px;
        height: 85px;
    }
    .menu-logo{
        display: block;  
    }
    .ws1{
        top:520px;
    }
    .break-t{
        display: inline;
    }
    .menu{
        position: sticky;
        top: 85px;
    }
    .main{
        margin-top:40px;
    }
    .main1{
        margin-top:-20px;
    }
    .menu-logo{
        display: block;  
        margin: 0 auto;
        text-align: center;
        width: 8%;
        position: relative;
        top: 25px;
    }
    .ws1{
        top:520px;
    }
}

@media only screen and (max-width: 600px) {
    /* For smartphones: */
    #menu-js{
        display: none;
    }
    .menu, .main{
        width: 100%;
    }
    
    .menu-menu{
        padding: 0px;
    }
    .menu-menu li {
        font-size: 19px;
    }
    .address, .copyright{
        font-size: 12px;
    }
    .whatsapp-static{
        top:65%;
    }
}